@import url('https://fonts.googleapis.com/css?family=Raleway:200');

.Recondite img{
    width: auto;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

body {
    background-color:#20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.DigitBx
input {
width: 150px;
height: 170px;
background-color: lighten(rgb(255, 255, 255), 5%);
border:rgb(255, 255, 255);
border-radius: 5px;
line-height: 50px;
text-align: center;
font-size: 70px;
font-family: 'Raleway', sans-serif;
font-weight: 200;
color: rgb(255, 0, 0);
margin: 0 2px;
text-transform: uppercase;
}

.splitter {
    padding: 0 5px;
    color: rgb(255, 255, 255);
    font-size: 24px;
}

.OTPBx {
    margin-bottom: 20px;
    font-size: 69px;
    color: white;
}