body{
    background-color: #fbf8fc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
.imgBx{
    position: relative;
    width: 50%;
    height: 100%;
}
.imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imgBx:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg,#e91e63,#03a9f4);
    z-index: 1;
    mix-blend-mode: screen;
}
.contentBx{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.formBx{
    width: 50%;
}
.formBx h2{
    position: absolute;
    color:  #607d8b;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
    top: 6rem;
    left: 68rem;
}
.inputBx{
    margin-bottom: 20px;
}
.inputBx span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 16px;
}
.inputBx input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background:transparent;
    border-radius: 30px;
}
.inputBx input[type="submit"]{
    background: #ff4584;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
.inputBx input[type="submit"]:hover{
    background: #f53677;
}
.remember{
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;
}
.inputBx p{
    color: #607d8b;
}
.inputBx p a{
    color: #ff4584;
}
#ce{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-bottom:10px ;
    top: 13rem;
}
#client{
    position: absolute;
    left: 2rem;
    font-size: 20px;
    top: -3.5rem;
}
#employee{
    position: absolute;
    left: 14rem;
    font-size: 20px;
    top: -3.5rem;
}
#sub input{
    background:linear-gradient(225deg,#e91e63,#03a9f4) ;
}
#employee a{
    text-decoration: none;
    color:#607d8b;
}
#client a{
    text-decoration: none;
    color:#607d8b;
}
#employee:hover{
    cursor: cell;
    border-bottom: 3px solid #ff4584
}
#client:hover{
    cursor: cell;
    border-bottom: 3px solid #ff4584
}
form{
    position: absolute;
    top: 15rem;
}
button{
    position: absolute;
    left: 19rem;
    top: 190px;
    font-size: 18px;
    background: linear-gradient(225deg,#e91e63,#03a9f4);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: 500;
    height: 38px;
    width: 4.1rem;
    border: 2px solid black;
}
form{
    position: absolute;
    top: 13rem;
}
#sq{
    position: absolute;
    left: 54rem;
    top: 4rem;
    height: 40rem;
    width: 27rem;
    z-index: -1;
    opacity: 7;
    border: 4px solid grey;
}
