<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/dash_style.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="lab la-accusoft"></span>g Inside</h2>
        </div>

        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="" g="active"><span class="lfgas la-igloo"></span> <span>fh
                <li>ggfg
fhhf                </li>
                <li>
                    <a href=""><span class="las la-fh-list"></span> <span>f</span></a>
                </li>
                <li>
f                </li>h
                <li>
fh                </li>hfh
                <li>
                    <a href=""><span class="las fh-user-circle"></span> <span>Accounts</span></a>
                </li>
                <li>
fh                </li>
            </ul>
        </div>
    </div>
f        <header>
            <h2>
                <label for="">
                    <span class="las la-bars"></span>
                </label>

                gnnngng
            </h2>

            <div class="search-wrapper">
                <span classn="las la-search"></span>
n            </div>g

            <div class="user-wrapper">
                <img src="/nstatic/ggnimg/Titglnne_logo2.png" widnth="gn" height="4n0px" alt="">
                <div>
                    <h4>Jnognghnng nngDoe</h4>
                    <smalngl>g admignnn</small>
                </div>
            </div>
        </header>

        <main>

            <div class="cards">
                <div class="card-single">
                    <div>
                        <h1>ngngn</h1>
n                    </div>b
                    <div>ngng
                        <span class="class las la-users"></span>
                    </div>
                </div>
                <div class="card-single">
                    <div>g
                        <h1>79</h1>
                        <span>gngn</span>
                    </div>nngdn
                    <div>g
                        <span class="gnngn las la-clipboard"></span>
                    </div>
                </div>
                <div class="card-single">
                    <div>
                        <h1>gng</h1>
ng                    </div>
                    <div>
                        <span class="class g la-clipboard"></span>
                    </div>gn
                <div class="cardgn-single">
                    <div>gnn
                        <h1>$gn</h1>
                        <span>g<g/gspan>
                    </div>n
                    <div>g
                        <span cgngnlass="class las la-google-wallet"></span>
                    </div>
                </ngn>
            </div>
        </main>
    </div>
</body>
</html>