<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP</title>
    <link rel="stylesheet" href="/static/otpstyle.css">
</head>
<body>
    <div class="OTPBx">
        Enter the OTP provided by our Company
    </div>
    <form method="post" action="{{ url_for('otp') }}" class="DigitBx" data-group-name="digit" data-autosubmit="false" autocomplete="off" id="form">
    <input type="text" id="gig-1" name="gig-1" data-next="gig-2"maxlength="1" onkeyup="gig_1()"/>
    <span class="splitter">&ndash;</span>
    <input type="text" id="gig-2" name="gig-2" data-next="gig-3" data-previous="gig-1" maxlength="1" onkeyup="gig_2()"/>
    <span class="splitter">&ndash;</span>
    <input type="text" id="gig-3" name="gig-3" data-next="gig-4" data-previous="gig-2" maxlength="1" onkeyup="gig_3()"/>
    <span class="splitter">&ndash;</span>
    <input type="text" id="gig-4" name="gig-4" data-next="gig-5" data-previous="gig-3" maxlength="1" onkeyup="gig_4()"/>
    <span class="splitter">&ndash;</span>
    <input type="text" id="gig-5" name="gig-5" data-next="gig-6" data-previous="gig-4" maxlength="1" onkeyup="gig_5()"/>
    <span class="splitter">&ndash;</span>
    <input type="text" id="gig-6" name="gig-6" data-previous="gig-5"maxlength="1" onkeyup="gig_6()"/>
    <button type="submit"onclick="login_request()">Confirm OTP</button>
</form>
<script> 
    var gig_1 = document.getElementById('gig-1')  
    var gig_2 = document.getElementById('gig-2')  
    var gig_3 = document.getElementById('gig-3')  
    var gig_4 = document.getElementById('gig-4')  
    var gig_5 = document.getElementById('gig-5')  
    var gig_6 = document.getElementById('gig-6')
    var otp = `${gig_1}${gig_2}${gig_3}${gig_4}${gig_5}${gig_6}`
function gig_1() {
    var gig_1 = document.getElementById('gig-1').value;
    var gig_2 = document.getElementById('gig-2');
    if (gig_1 > 0){
        gig_2.focus()
    }

}          
function gig_2() {
    var gig_2 = document.getElementById('gig-2').value;
    var gig_3 = document.getElementById('gig-3');
    if (gig_2 > 0){
        gig_3.focus()
    }
      
} 
function gig_3() {
    var gig_3 = document.getElementById('gig-3').value;
    var gig_4 = document.getElementById('gig-4');
    if (gig_3 > 0){
        gig_4.focus()
    }
      
} 
function gig_4() {
    var gig_4 = document.getElementById('gig-4').value;
    var gig_5 = document.getElementById('gig-5');
    if (gig_4 > 0){
        gig_5.focus()
    }
      
} 
function gig_5() {
    var gig_5 = document.getElementById('gig-5').value;
    var gig_6 = document.getElementById('gig-6');
    if (gig_5 > 0){
        gig_6.focus()
    }
      
} 
      
 
      

</script>
</body>
</html>