<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP</title>
    <link rel="stylesheet" href="/static/otpstyle.css">
</head>
<body>
    <img src="/static/img/imgs09.jpeg" alt="">
    <div class="OTPBx">
        Enter Your OTP provided by our Compnay
    </div>
    <form method="get" class="DigitBx" data-group-name="digit" data-autosubmit="false" autocomplete="off">
    <input type="text" id="gig-1" name="dig-1" data-next="dig-2"/>
    <input type="text" id="gig-2" name="dig-2" data-next="dig-3"/>
    <input type="text" id="gig-3" name="dig-3" data-next="dig-4"/>
    <input type="text" id="gig-4" name="dig-4" data-next="dig-5"/>
    <input type="text" id="gig-5" name="dig-5" data-next="dig-6"/>
    <input type="text" id="gig-6" name="dig-6" data-previoust="dig-5"/>
</form>
</body>
</html>