<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP</title>
    <link rel="stylesheet" href="/static/otpstyle.css">
</head>
<body>
    <div class="OTPBx">
        Enter Your OTP provided by our Company
    </div>
    <form method="get" class="DigitBx" data-group-name="digit" data-autosubmit="false" autocomplete="off">
    <input type="text" id="gig-1" name="gig-1" data-next="gig-2"maxlength="1"/>
    <span class="splitter">&ndash;</span>
    <input type="text" id="gig-2" name="gig-2" data-next="gig-3" data-previous="gig-1" maxlength="1"/>
    <span class="splitter">&ndash;</span>
    <input type="text" id="gig-3" name="gig-3" data-next="gig-4" data-previous="gig-2" maxlength="1"/>
    <span class="splitter">&ndash;</span>
    <input type="text" id="gig-4" name="gig-4" data-next="gig-5" data-previous="gig-3" maxlength="1"/>
    <span class="splitter">&ndash;</span>
    <input type="text" id="gig-5" name="gig-5" data-next="gig-6" data-previous="gig-4" maxlength="1"/>
    <span class="splitter">&ndash;</span>
    <input type="text" id="gig-6" name="gig-6" data-previous="gig-5"maxlength="1"/>
</form>
</body>
</html>