<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/img/img.png" type="image/x-icon">
</head>

<body>
    <section>
        <div class="imgBx">
            <img src="/static/img/imgs01.jpeg" alt="">
        </div>
        <div class="contentBx">
            <div class="formBx">
                <h2>Login as:</h2>
                <div id=ce>
                    <h4 id="client"><a  onclick="client_Hide(); return false;">Client</a></h4>
                    <h4 id="employee"><a onclick="employee_Hide(); return false;">Employee</a></h4>
                </div>
                <form action="{{ url_for('login') }}" method="post">
                    <div class="inputBx">
                        <span id="span_email">Email</span>
                        <input type="Email" name="email" id="email" required>
                    </div>
                    <div class="inputBx">
                        <span id="password_span">Password</span>
                        <input type="password" name="password" id="password" required>
                    </div>
                    <div class="inputBx">
                        <span id="office_span">Office Code</span>
                        <input type="" name="office" id="office" required>
                    </div>
                    <div class="inputBx">
                        <span id="employee_span">Employee Code</span>
                        <input type="" name="xyz" id="xyz" required>
                    </div>
                    <!-- <div class="remember">
                    <label><input type="checkbox" name="">Remember me</label>
                </div> -->
                    <div class="inputBx" id="sub">
                        <input type="submit" value="Get OTP" name="" onclick="{{ otp_request }}" id="get_otp"><br><br>
                        <div class="inputBx">
                            <p id="signup_p">Don't have an account? <a href="/signup" id="signup">Sign Up</a></p>
                        </div>
                </form>

            </div>
        </div>

    </section>
</body>
<script>
    function employee_Hide(){
        var email = document.getElementById('email')
        email.style.display=''
        var span_email = document.getElementById('span_email')
        span_email.style.display = '';
        var password = document.getElementById('password')
        password.style.display='';
        var span_password = document.getElementById('password_span')    
        span_password.style.display = '';
        var office = document.getElementById('office');
        office.style.display='';
        var office_span = document.getElementById('office_span');
        office_span.style.display='';
        var xyz = document.getElementById('xyz');
        var xyz_span = document.getElementById('employee_span');
        xyz.style.display='';
        xyz_span.style.display='';
        var get_otp = document.getElementById('get_otp')
        get_otp.style.display='';  
        var sign_up = document.getElementById('signup')
        sign_up.style.display='';
        var signup = document.getElementById('signup_p')
        signup.style.display='';
    }
    function client_Hide(){
        var email = document.getElementById('email')
        email.style.display=''
        var span_email = document.getElementById('span_email')
        span_email.style.display = '';
        var password = document.getElementById('password')
        password.style.display='';
        var span_password = document.getElementById('password_span')
        span_password.style.display = '';
        var get_otp = document.getElementById('get_otp')
        get_otp.style.display='';  
        var sign_up = document.getElementById('signup')
        sign_up.style.display='';
        var signup = document.getElementById('signup_p')
        signup.style.display='';
        var office = document.getElementById('office');
        var office_span = document.getElementById('office_span');
        office.style.display='none';
        office_span.style.display='none';
        var xyz = document.getElementById('xyz');
        var xyz_span = document.getElementById('employee_span');
        xyz.style.display='none';
        xyz_span.style.display='none';
        office.removeAttribute("required")
        xyz.removeAttribute("required")
    }
    var email = document.getElementById('email')
    email.style.display='none'
    var span_email = document.getElementById('span_email')
    span_email.style.display = 'none';
    var password = document.getElementById('password')
    password.style.display='none';
    var span_password = document.getElementById('password_span')
    span_password.style.display = 'none';
    var office = document.getElementById('office');
    var office_span = document.getElementById('office_span');
    office.style.display='none';
    office_span.style.display='none';
    var xyz = document.getElementById('xyz');
    var xyz_span = document.getElementById('employee_span');
    xyz.style.display='none';
    xyz_span.style.display='none';
    var get_otp = document.getElementById('get_otp')
    get_otp.style.display='none';  
    var sign_up = document.getElementById('signup')
    sign_up.style.display='none';
    var signup = document.getElementById('signup_p')
    signup.style.display='none';



    var incorrect_password = "{{ incorrect_password }}"
    incorrect_password = incorrect_password.toLowerCase();
    incorrect_employee = "{{ ie }}"
    incorrect_office = "{{ io }}"
    var x = "{{ error_bool }}";
    var y = x.toLowerCase();
    if (y == "true") {
        document.getElementById('span_email').style.color = "red";
        document.getElementById('email').style.borderColor = "red";
        document.getElementById('email').placeholder = "Please Enter Your Email First";

    }
    else if (incorrect_password == "true"){  
        client_Hide()
        document.getElementById('password').style.color = "red";
        document.getElementById('password').style.borderColor = "red";
        document.getElementById('password').placeholder = "Incorrect Password";
        document.getElementById('email').value = "{{ mail_var }}";
        console.log("TEST");
    }
    else if (incorrect_office == "True"){  
        employee_Hide()
        document.getElementById('office').style.color = "red";
        document.getElementById('office').style.borderColor = "red";
        document.getElementById('office').placeholder = "Incorrect Office Code";
        document.getElementById('email').value = "{{ mail_var }}";
        console.log("TEST");
    }
    else if (incorrect_employee == "True"){  
        employee_Hide()
        document.getElementById('xyz').style.color = "red";
        document.getElementById('xyz').style.borderColor = "red";
        document.getElementById('xyz').placeholder = "Incorrect Employee Office Code";
        document.getElementById('email').value = "{{ mail_var }}";
        console.log("TEST");
    }
    
</script>

</html>