<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/static/style_02.css">
</head>
<body>
  <section>


  <form action="" class="form">
    <h1 >Sign up</h1>
    <label for="">Email id</label><br>
      <input type="text" class="input">
<br>
<label for="" class="label">Username</label><br>
      <input type="text" class="input" placeholder="">
    
<br>

      <input type="text" class="input">
      <label for="" class="label">Password</label>
<br>

      <input type="text" class="input" placeholder="">
      <label for="" class="label">Confirm Password</label>

    <input type="submit" class="submit" value="Sign up">
  </form>
</div>
</body>
</html>