<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <section>
    <div class="imgBx">
         <img src="/static/img.jpeg" alt="">
    </div>
</body>
</html>
    <body></body>
</html>
<div class="Sign Up">
  <form action="" class="form">
    <h1 class="title">Sign up</h1>

    <div class="inputusandps">
      <input type="text" class="input" placeholder="">
      <label for="" class="label">Email id</label>
    </div>

    <div class="inputusandps">
      <input type="text" class="input" placeholder="">
      <label for="" class="label">Username</label>
    </div>

    <div class="inputusandps">
      <input type="text" class="input" placeholder="4 characters minimum">
      <label for="" class="label">Password</label>
    </div>

    <div class="inputusandps">
      <input type="text" class="input" placeholder="">
      <label for="" class="label">Confirm Password</label>
    </div>

    <input type="submit" class="submit" value="Sign up">
  </form>
</div>