<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-color:#F5F5DC }
        </style>
    </head>
    <body></body>
</html>
<div class="Sign Up">
  <form action="" class="form">
    <h1 class="title">Sign up</h1>

    <div class="inputusandps">
      <input type="text" class="input" placeholder="">
      <label for="" class="label">Email id</label>
    </div>

    <div class="inputusandps">
      <input type="text" class="input" placeholder="">
      <label for="" class="label">Username</label>
    </div>

    <div class="inputusandps">
      <input type="text" class="input" placeholder="4 characters minimum">
      <label for="" class="label">Password</label>
    </div>

    <div class="inputusandps">
      <input type="text" class="input" placeholder="">
      <label for="" class="label">Confirm Password</label>
    </div>

    <input type="submit" class="submit" value="Sign up">
  </form>
</div>